{
	email your-email@example.com
}

vidaduacademy.com {
	encode zstd gzip

    # 1. Assets (Css, Js, Vendor) -> Backend
    handle /css/* {
        root * /var/www/public
        file_server
    }
    handle /js/* {
        root * /var/www/public
        file_server
    }
    handle /vendor/* {
        root * /var/www/public
        file_server
    }

    # 2. Storage -> Backend
    handle /storage/* {
        root * /var/www/public
        file_server
    }

    # 3. Backend Routes (API, Admin, Livewire) -> Backend PHP
    handle /api/* {
        root * /var/www/public
        php_fastcgi app:9000
    }
    handle /sanctum/* {
        root * /var/www/public
        php_fastcgi app:9000
    }
    handle /up {
        root * /var/www/public
        php_fastcgi app:9000
    }
    handle /admin* {
        root * /var/www/public
        php_fastcgi app:9000
    }
    handle /livewire* {
        root * /var/www/public
        php_fastcgi app:9000
    }
    handle /filament* {
        root * /var/www/public
        php_fastcgi app:9000
    }

    # 4. Frontend Fallback -> Vue Nginx
    handle {
        reverse_proxy web:80
    }
}
