node_modules
.git
.DS_Store
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
debug-files
docs
frontend
vendor
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
